torch --index-url https://download.pytorch.org/whl/cpu
scikit-image
numpy
fastapi
uvicorn
python-multipart
huggingface_hubtorch --index-url https://download.pytorch.org/whl/cpu
scikit-image
numpy
fastapi
uvicorn
python-multipart
huggingface_hub
